<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/main.css" rel="stylesheet">
    <title>Blog Application</title>
</head>
<body>
<main>

    <header>
        <nav class="navbar">
            <div class="Logo"><h1>Tech Blog</h1></div>
            <ul class="nav-body">
                <li><a href="/">Home</a></li>
                <li><a href="/blogs">Blogs</a></li>
            </ul>
        </nav>
    </header>
    
